body {
  background: #c5e689;
  color: #240808;
  align-items: center;
  text-align: center;
  font-family: Baloo Tammudu, roboto;
}

#timer, #newgame, #flags{
  display: inline-block;
  font-family: Baloo Tammudu, roboto;
  font-size: 70%;
  border: none;
  border-radius: 12px;
  width: 30%;
  outline: none;
  background:#e0ecb5; 
  
}

#newgame{
  background:rgb(239, 248, 223);
  color: rgb(49, 65, 44);
  width: 19vw;
}

#newgame:active{
  background: rgb(128, 172, 70);
}

#wrapbar{
  width: 65vw;
  float: center;
  font-size: 3.5vh;
  height: 3vh;
}

.space{
  height: width;
  width: 5%;
  margin: 0 5px;
}

#space-container{
  height: 50vh;
}


h1 {
  font-weight: 200;
  margin: 0px;
  color: rgb(2, 2, 2)
}
